<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>User Profile</h1>
        <h2>Hello, {{ user.username }}</h2>
        <div>This page is under construction. Please comeback later!</div>
        </div>
    </div>
  </div>
